.body{
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav .ol .li {
    display: flex;
    flex-direction: column;
    padding: 12px 16 px;
}
